@mixin hamburger_menu{
    .hamburger_menu_btn {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
        background-color: #3584bb;
    }

    .hamburger_menu_btn span,
    .hamburger_menu_btn span:before,
    .hamburger_menu_btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        position: absolute;
    }

    .hamburger_menu_btn span:before {
        bottom: 8px;
    }

    .hamburger_menu_btn span:after {
        top: 8px;
    }
  
    #hamburger_menu_btn_check:checked ~ .hamburger_menu_btn span {
      background-color: rgba(255, 255, 255, 0);
    }

    #hamburger_menu_btn_check:checked ~ .hamburger_menu_btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #hamburger_menu_btn_check:checked ~ .hamburger_menu_btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
  
    #hamburger_menu_btn_check {
      display: none;
    }
  
    .hamburger_menu_content {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 80;
      background-color: #3584bb;
    }

    .hamburger_menu_content ul {
        padding: 70px 10px 0;
        display:block;
    }

    .hamburger_menu_content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }

    .hamburger_menu_content ul li a {
        display: block;
        width: 100%;
        font-size: 1.5rem;
        box-sizing: border-box;
        color:#ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    
    .hamburger_menu_content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }
  
    .hamburger_menu_content {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%;
      z-index: 80;
      background-color: #3584bb;
      transition: all 0.5s;
    }
  
    #hamburger_menu_btn_check:checked ~ .hamburger_menu_content {
      left: 0;
    }
}